*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#container{
    width: 100%;
}
#inner_container{
    width: 65%;
    height: 500px;
    margin: auto;
}
#top{
    display: flex;
    justify-content: space-between;
}
#date{
    width: 55%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    background-color: ffffdd;
    border: 1px solid #e9e993;
    padding: 0px 8px;
}
#date>span{
    cursor: pointer;
}
#category{
    width: 100%;
    height: 50px;
    background-color: #e4e4e4;
    font-size: 16px;
    padding: 15px 12px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
}
#training{
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    text-align: center; 
}
#training>div{
    background-color: #6B6B6B;
    padding-top: 16px;
}
#training>div:first-child{
    border-radius:0px 0px 0px 10px ;
}
#training>div:last-child{
    border-radius:0px 0px 10px 0px ;
}
#training>div p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #3bc6db;
}
#edit{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
#edit>input{
    height: 50px;
    text-align: center;
    border: 2px solid black;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
#bottom{
    width: 100%;
    height: 70px;
    margin-top: 5px;
    padding: 10px 0px 10px 5px;
    border: 2px solid black;
    background-color: ffffdd;
    border: 1px solid #e9e993;
}
#bottom>p:first-child{
    font-size: 14px;
    margin-bottom: 10px;
}
#bottom>p:last-child{
    font-size: 13px;
}